<div class="main">
  <div class="container">
    <div class="row justify-content-center main_block">
      <div class="col-xs-8 col-sm-10 center-container pl-4 pr-4 ">
        <div class="text-center mt-3 login">
          <h1>Update post {{post['id']}}</h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <label class="col-form-label-lg" for="exampleInput">Title</label>
            <div class="input-group group-with-icon">
              <textarea type="text" class="form-control form-control-lg inputCustom" [(ngModel)]="post.title"
                formControlName="title" id="exampleInput" aria-describedby="emailHelp" placeholder="Enter email"
                name="email"></textarea>

            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label-lg" for="exampleInput">Body</label>
            <div class="input-group group-with-icon">
              <textarea type="text" class="form-control form-control-lg inputCustom" style='height: 500px;' [(ngModel)]="post.body"
                formControlName="body" id="exampleInput" aria-describedby="emailHelp" placeholder="Enter email"
                name="email"></textarea>

            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success button-custom-style font-weight-bold">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
