<nav class="navbar navbar-expand-md navbar-light bg-light font-weight-bold">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['post-list']">Angular blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav ml-auto scalable">
        <li class="nav-item">
          <a class="nav-link mr-5" [routerLink]="['post-list']">Home</a>
        </li>
      </ul>
      <div class="dropdown mr-5" dropdown>
          <a class="dropdown-toggle scalable pointer" dropdownToggle (click)="false">
            Comunity
          </a>
          <div class="dropdown-menu  mr-5" *dropdownMenu>
            <a class="dropdown-item nav-link" [routerLink]="['/user-create']"><i class="fa fa-user">Create User</i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-link" [routerLink]="['/user-list']"><i class="fa fa-sign-out">List of user</i></a>
          </div>
        </div>
      <div class="dropdown mr-5" dropdown>
        <a class="dropdown-toggle scalable pointer" dropdownToggle (click)="false">
          Blog
        </a>
        <div class="dropdown-menu  mr-5" *dropdownMenu>
          <a class="dropdown-item nav-link" [routerLink]="['/post-list']"><i class="fa fa-user"></i>List of posts</a>
          <a class="dropdown-item nav-link" [routerLink]="['/post-create']"><i class="fa fa-user"></i>Create post</a>
        </div>
      </div>
    </div>
  </div>
</nav>
