<ul>
  <li>post {{post['id']}}</li>
  <li>{{post['title']}}</li>
  <li>{{post['body']}}</li>
  <li>{{comments['name']}}</li>
  <li>{{comments['body']}}</li>
</ul>
<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label for="title">Post id</label>
      <input type="text" value="post_id" formControlName="post_id">{{post.id}}
    </div>
    <div class="form-control">
      <label for="title">Body</label>
      <input type="text" id="body" formControlName="body">
    </div>
    <div class="form-control">
      <label for="title">email</label>
      <select formControlName="email">
        <option *ngFor="let user of users; let i=index" [value]="user['email']">
          {{user["email"]}}
        </option>
      </select>
    </div>
    <div class="form-control">
      <label for="title">Name and Surname</label>
      <select formControlName="name">
        <option *ngFor="let user of users; let i=index" [value]="user['first_name']">
          {{user["id"]}}
          {{user['first_name']}}
          {{user['last_name']}}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">create post</button>
  </form>
</div>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
